@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
<div class="col-md-12"><h2 align="center">Búsqueda en los Catálogos</h2><br></div>
</div>
<div class="row __web-inspector-hide-shortcut__">              
  <div class="col-md-3" align="center">      
      <select id="local_base" name="local_base" class="form-control">
						<option value="0" selected="selected">Selecciona un autor</option>
                      
					</select></div>
    <div class="col-md-4" align="center">
		<select id="find_code" name="find_code" class="form-control">
                      <option value="0" selected="selected">Selecciona Libro de búsqueda</option>
                      </select></div>
      <div class="col-md-3" align="center"><input name="request" type="text" id="request" tabindex="1" class="form-control" placeholder="Ingresar autor"></div>

<div class="col-md-2" align="center">		
<button class="btn btn-primary btn-block" type="submit">
  Consultar  <span class="glyphicon glyphicon-search"></span>
</button>
  </div>

</div>
        <br />
<br />
        <br />
<br />
 <table  class="table table-dark table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <td class="text-center" style=" font-weight:bold;">Editar</td>

      <td class="text-center" style=" font-weight:bold;">Autor</td>
      <td class="text-center" style=" font-weight:bold;">Nombre del Libro</td>
      <td class="text-center" style=" font-weight:bold;">Titulo</td>
      <td class="text-center" style=" font-weight:bold;">Libro</td>

                    <td class="text-center" style=" font-weight:bold;">Eliminar</td>
                </tr>
            </thead>

            <tbody>
               
            </tbody>
        </table>